*,
*::before,
*::after{
  box-sizing: border-box;
}

@font-face{
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face{
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face{
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Semi-Bold.ttf") format("truetype");
  font-weight: 600;
}

body{
  padding: 2em 0em;
  font-family: "Poppins", sans-serif;
}

p{
  font-size: 0.9375rem;
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   color: gray;
}

header{
  text-align: center;
  margin-bottom: 4em;
}

h1{
  font-size: 2.5rem;
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}
span{
  font-weight: bold;
  color: hsl(234, 12%, 34%);
  display:block;
}



.container{
  margin: 0 auto;
  padding: 1em;
  width: 90%;
}

img{
  width: min(60px, 30%);
}

.img{
  display:flex;
  justify-content: flex-end;
}

.col{
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 2em 3em;
  width: 20%;
  max-width: 600px;
  border-radius: 5px;
  margin-inline: auto;
  margin-bottom: 2em

}

.col__1{
  border-top: 5px solid hsl(180, 62%, 55%);
}

.col__2{
  border-top: 5px solid red;
}

.col__3{
  border-top: 5px solid hsl(34, 97%, 64%);
}

.col__4{
  border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 1000px){
  .section{
    display: flex;
    padding: 2em;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;

  }



  .col__2, .col__3{
    min-width:  100%;
  }

  .col{
    margin-inline: 0;
  }


}